<div class = "post">

<table class = "table">
	<th>departure</th>
	<th>destination</th>
	<th>available seats</th>
	<th>date time</th>
	<th>name</th>
	<th>status</th>

	<% @posts.each do|i| %>
	<tr>
			<td><%= link_to i.departure, user_post_path(i.user_id, i) %></td>
			<td><%= i.destination %></td>
			<td><%= i.seats %></td>
			<td><%= i.date_time i %></td>
			<td><%= i.name i.user_id%></td>
			<td><%= link_to "pool" %></td>
	</tr>
		
	
	<% end %>
	</table>
	
</div>
<br>
<%#binding.pry %>
<%=	 link_to "create new",new_user_post_path(current_user.id) %>