<div class = "post">
<section class = "col-sm-4">

	<% @posts.each do|i| %>
	<%= i.departure %> 
	<%= i.destination %>
	<%= i.d_time %>
	<%= i.seats %>
	</section>
<section class = "col-sm-4">
	
	<%= i.name i.user_id%>
	</section>

	<section class = "co-sm-4">
	<%= button_to "pool"%>
	<% end %>
	</section>
</div>
<br>
<%#binding.pry %>
<%=	 link_to "create new",new_user_post_path(current_user.id) %>