<!DOCTYPE html>
<html>
<head>
  <title>CarpoolingWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:msg] %>
	<%= flash[:msg] %>
	<% end %>

	<%= yield %>
	<br>
	<% if user_signed_in? %>
		<%= link_to "sign out",destroy_user_session_path, method: :delete, :class=>"btn btn-primary" %>
	<% end %>

</body>
</html>
